body {
    background-color:rgb(43, 32, 40);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white background for the container */
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#password {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    width: 300px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}